.footer {
    left: 0;
    bottom: 0;
    position:absolute;
    flex-direction: column;
    font-family: monospace;
    height: 40px;
    border-top: solid red;
    border-left: solid red;
    border-bottom: #A00;
    border-right: #A00;
    color: whitesmoke;
    margin-top: auto;
}
.form-signin{
    padding: 20px;
    border:solid 1px #500;
}
.sidebar{
    align-items: stretch;
    height:100%;
}
html{
    position:relative;
    min-height: 100%;
}

.scrollable{
    position: absolute;
    overflow-y: scroll;
  }
  .apasia {
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 18px;
  }
  
.scrollable{
    height: 320px;
}
.scrollable li:nth-child(2n+1) {
  background: #FAFAFA;
}
.scrollable li:nth-child(2n+2) {
  background: #FEFEFE;
}