.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: monospace;
    height: 40px;
    border-top: solid red;
    border-left: solid red;
    border-bottom: #A00;
    border-right: #A00;
    color: whitesmoke;
    padding-left: 20px;
}
.form-signin{
    padding: 20px;
    border:solid 1px #500;
}

